<%- include("partials/header") %> 



<form action="/post" method="post">
    <label for="post">Post</label>
    <input type="text" name="posts">
    <button type="submit" name="button">Publish</button>
</form>
